.root {
    height: auto;
    margin: 0px;
    box-shadow: 0 0 20px -25px black;
    border-right: 1px solid #7B7B7B;
    width: 20vw;
    padding-right: 0px;
    padding-bottom: 0px;
}

.homeIcons {
    width: 20px;
    margin: 0px 5px 0px 0px;
    height: 20px;
}

.home-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    margin: 0px;
    height: 30px;
}

.nav-icons {
    width: 3vw;
    height: 3vw;
    margin: 0.5vw;
    font-size: 2.5vw;
}

.nav-text {
    color: #187DB3;
    width: 6vw;
    font-size: 2vw;
}

.nav-button {
    height: 30px;
    display: flex;
    align-items: center;
    margin: 0px;
    padding: 5px;
    border: 0px solid black;
}

.nav-button {
    padding: 5px 5px 5px 10%;
    height: 6vw;
    width: 13vw;
}