.root {
    width: 85vw;
    margin: 2vw;
}

.card-scroll {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    margin: 0.1vw;
}

.scroll-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.3vw;
}

.more-link {
    font-size: 2vw;
    margin: 1vw;
}

.chapter-title {
    font-size: 3vw;
}