.root {
    padding: 0vw;
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin: 0vw 0vw 1vw;
}

.chapter-title {
    margin: 1vw;
    font-size: 3vw;
}

.card-scroll {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0px;
    text-align: start;
    justify-content: center;
    align-content: center;
    margin: 0.1vw;
}

.scroll-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0vw 1vw;
}

.more {}

.more-link {
    font-size: 2vw;
    margin: 1vw;
}