.root {
    margin: 1vw;
    width: 80vw;
}

.form-title {
    padding: 0vw 1vw;
    font-size: 3vw;
}

.form-row {
    margin: 1vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 45vw;
}

.form-label {
    margin: 0.5vw;
    font-size: 2vw;
    width: 25vw;
}

.form-input {
    width: 25vw;
    font-size: 2vw;
}

.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    width: 40vw;
}

.submit-btn {
    direction: ltr;
    font-size: 12px;
    background-color: #85D9FF;
    background-image: none;
    border-radius: 25;
}

.form-footer {
    padding: 5px;
    direction: rtl;
}

.submit-button {
    border-radius: 2vw;

    &:focus {
        background-color: #01BFD9;
        color: #FFFFFF;
        border: 0px solid transparent;
    }

    background-color:#B0F8FF;
    font-size:2vw;
    border:1px solid transparent;
    margin:2vw;
}

.form-footer {
    direction: ltr;
    text-align: start;
    padding-left: 20px;
}

.form-fields {
    display: flex;
    justify-content: center;
}

.form-fields {}