.root {
    padding: 1vw;
    display: flex;
    flex-direction: column;
    border: 0px solid black;
    border-radius: 2vw;
    box-shadow: 0 0 20px black;
    text-align: start;
    align-items: center;
    justify-items: stretch;
    width: 20vw;
    margin-top: 0px;
    margin-right: 5%;
    margin-bottom: 0px;
    margin-left: 5%;
}

.activity-image {
    border-radius: 2vw;
    width: 17vw;
    text-align: start;
    margin: 5px;
}

.activity-title {
    text-align: center;
}

.activity-name {
    margin: 2px;
}

.activity-name {
    width: 17vw;
    margin: 0.5vw;
    font-size: 2vw;
    text-align: center;
}

.date {}

.event-details {
    display: flex;
    align-items: center;
}

.event-text {
    height: 2vw;
    margin: 0vw 1vw;
    font-size: 1.7vw;
    width: 12vw;
}

.event-icon {
    width: 2vw;
    height: 2vw;
    margin: 0vw 1vw;
}

.details {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10vw;
    margin: 0vw;
    justify-items: center;
}

.details-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 12vw;
    height: 2vw;
    align-content: center;
    justify-items: center;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 1vw;
}